# Apollo SVN Sanity check configuration

[ss-preprod-r4]
ss-preprod-r4 = E:\webs\ss-preprod-r4

[ss-prod-r4] 
ss-prod-r4 = E:\webs\ss-prod-r4

[ss-preprod]
ss-preprod = E:\webs\ss-preprod

[customer]
customer = E:\webs\customer

[TeamSite]
TeamSite = E:\webs\TeamSite

[ss-preprod-r3]
ss-preprod-r3 = E:\webs\ss-preprod-r3

[ss-prod-r3]
ss-prod-r3 = E:\webs\ss-prod-r3

[mx-shop-01]
mx-shop-01 = E:\webs\mx-shop-01

[config]
config = E:\webs\config

[GAO-MxPROD]
GAO-MxPROD = E:\webs\GAO-MxPROD

