# CF8Test SVN Sanity check configuration

[CUST-TEST-01]
CUST-TEST-01 = E:\CUST-TEST-01

[SS-DemoUni]
SS-DemoUni = E:\webs\DemoUni\SS-DemoUni

[demouni.studylink.com]
demouni.studylink.com = E:\webs\demouni.studylink.com

[GAO-mxDEV]
GAO-mxDEV = E:\webs\GAO-mxDEV

[GAO-mxTEST]
GAO-mxTEST = E:\webs\GAO-mxTEST

[go.studylink.com]
go.studylink.com = E:\webs\go.studylink.com

[SHOP-mxTEST]
SHOP-mxTEST = E:\webs\SHOP-mxTEST

[SS-mxDESIGN]
SS-mxDESIGN = E:\webs\SS-mxDESIGN\ssubmit

[SS-MxDev]
SS-MxDev = E:\webs\SS-mxDEV\ssubmit

[SS-mxREVIEW]
SS-mxREVIEW = E:\webs\SS-mxREVIEW\ssubmit

[SS-mxREVIEW2]
SS-mxREVIEW2 = E:\webs\SS-mxREVIEW2\ssubmit

[SS-mxREVIEW3]
SS-mxREVIEW3 = E:\webs\SS-mxREVIEW3\ssubmit

[SS-MxTest]
SS-MxTest = E:\webs\SS-mxTEST\ssubmit

[TeamSite]
TeamSite = E:\webs\TeamSite