# Lucifer SVN Sanity check configuration

[DemoUni]
DemoUni = E:\webs\DemoUni\ssubmit

[GAO-mxProd]
GAO-mxProd = E:\webs\GAO-mxProd

[ss-mxpreprod-01]
ss-mxpreprod-01 = E:\webs\ss-mxpreprod-01\ssubmit

[ss-mxprod-01]
ss-mxprod-01 = E:\webs\ss-mxprod-01\ssubmit


[ss-mxprod-02]
ss-mxprod-02 = E:\webs\ss-mxprod-02\ssubmit

[ss-mxProd-Lite]
ss-mxProd-Lite = E:\webs\ss-mxProd-Lite\trunk

[ss-mxTest9]
ss-mxTest9 = E:\webs\ss-mxTest9\ssubmit

[teamsite]
teamsite = E:\webs\teamsite



